<div class="header__wrapper">
  <div class="header">
    <nav>
      <a routerLink="/" class="link">
        <img src="/assets/icons/movie.svg" alt="">
         Коллекция
      </a>
      <a routerLink="/" class="link">
        <img src="/assets/icons/plus.svg" alt="">
        Добавить
      </a>
    </nav>
    <a routerLink="/" class="logo">
      <img src="/assets/icons/logo.svg" alt="">
    </a>
    <div class="actions">
      <app-button>
        <img src="/assets/icons/search.svg" alt="">
        Поиск
      </app-button>
      <img class="avatar" src="/assets/avatar.svg" alt="">
    </div>
  </div>
</div>
