<button (click)="goBack()">Вернуться назад</button>

<ng-container *ngIf="currentUser">
  <div>{{currentUser.name}}</div>
  <div>{{currentUser.isActive}}</div>
</ng-container>

<input
  type="text"
>

<form [formGroup]="form">
  <input
    placeholder="Имя"
    formControlName="name"
  />

  <input type="text" formControlName="id">


  <ng-container formArrayName="phoneNumbers">
    <div
      *ngFor="let phoneNumberGroup of getPhoneNumberControls(); let i = index"
      [formGroupName]="i"
    >
      {{ i + 1 }}
      <input
        type="text"
        formControlName="numberId"
      >

      <input
        type="text"
        formControlName="number"
      >

      <button (click)="removeElement(i)">X</button>
    </div>
  </ng-container>

  <button (click)="addPhone()">+</button>
</form>
