<app-header></app-header>
<div class="container">
  <form [formGroup]="filmInfo">
    <div>
      <div class="name">
        Название
      </div>
      <label><input
        formControlName="name"
        type="search"
        class="name_input"
        data-dismiss="modal">
      </label>
    </div>
    <div>
      <div class="name">
        Год
      </div>
      <label><input
        formControlName="year"
        type="search"
        class="name_input"
        data-dismiss="modal">
      </label>
    </div>
    <div>
      <div class="name">
        Описание
      </div>
      <label><input
        formControlName="info"
        type="search"
        class="name_input"
        data-dismiss="modal">
      </label>
    </div>

    <div>
      <div class="name">
        Постер
      </div>
      <img class="poster" src="{{imageUrl}}"/>
    </div>
    <div class="save_button">
      <app-button [theme]="'THIRD'" type="submit">
        <img src="/assets/icons/plus.svg" alt="">
        Сохранить
      </app-button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
